@font-face {
    font-family: MyFont;
    src: url("resources/Coluna.otf");
}

body, html {
    height: 100%;
    margin: 0;
    background-color: rgb(14, 14, 14);
  }

.bkg {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

#casa-de-papel {
    background-image: url("/resources/casa-de-papel-extended.jpg");
    opacity: 90%;
}

#berlin {
    background-image: url("/resources/La-Casa-De-Papel-Mask-Best-Wallpaper-83434berlin.jpg");
    opacity: 20%;
}

#tokyo {
    background-image: url("/resources/tokyo3.png");
    opacity: 50%;
}

#nairobi {
    background-image: url("/resources/nairobi-extended.jpg");
    opacity: 50%;
}


#el-profe {
    background-image: url("/resources/el-profe-extended.jpg");
    opacity: 50%;
}

#denver {
    background-image: url("/resources/denver-extended.jpg");
    opacity: 50%;
}


h1 {
    margin:0;
    padding-top: 20vh;
    text-align: center;
    color: white;
    font-family: MyFont;
    font-size: 64px;
    position: relative;
}

.audio {
    padding-top: 5vh;
    text-align: center;
}

.audioplayer {
    opacity: 0%;
}

.img-div {
    padding: 0px;
    margin: 0px;
    text-align: center;
    position: relative;
}


#rebus-img {
    position: relative;
    max-width: 120px;
    border-radius: 10px;
    opacity: 20%;
    top: 45vh;
    left: 18vw;
    transition: 
        opacity 2s,
        max-width 2s,
        transform 2s;
}

#rebus-img:hover {
    opacity: 100%;
    max-width: 70vw;
    transform: translate(-18vw,-35vh);
    
}

#denver-img {
    position: relative;
    max-width: 400px;
    border-radius: 10px;
    margin: 20px 0px;
}